
@font-face {
  font-family: "roboto";
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "lato";
  src: url(fonts/Lato/Lato-Light.ttf);
}

* {
  margin-top: 0;
}

.title {
  display: block;
  justify-content: center;
}

h1 {
  font-family: roboto;
  font-size: 8em;
  text-decoration: underline;
  text-align: center;
}

p {
  font-family: lato;
  font-size: 4em;
}

.first-stanza {
  margin-top: 5%;
}

.stanza {
  opacity: 0;
}
